<p>about works!</p>
<h1>Our Mission and vision</h1>

<div class="mission">

    <h5>Our Mission</h5>
    <img src="../../../assets/image/Our-Mission-_Image.png"/>
    <p>The mission of Beauty Matters Asia is the dedication to the highest quality of customer service delivered
        with a sense of warmth, friendliness, individual pride, and company spirit. <br>
        even more, the company logically follows their mission statement with a commitment to their own employees as
        well. We are committed to provide our employees a stable work<br>
        environment with equal opportunity for learning and personal growth. Creativity and innovation are
        encouraged.
    </p>
</div>
<div class="vision">
    <h4>Our Vision</h4>
    <img src="../../../assets/image/images (1).jpg"/>
    <p>To be the best full-service beauty salon dedicated to consistently providing high customer satisfaction by
        rendering <br>excellent service, quality products, and furnishing an enjoyable atmosphere
        at an acceptable price/value relationshipt</p>
    <p>satisfaction by rendering excellent service, quality products, and furnishing an<br> enjoyable atmosphere
        at an acceptable price/value relationshipt</p>
</div>
<div class="value">
    <h3>Our Values</h3>
    <img src="../../../assets/image/Our-Values-_Image-1536x864.jpg"/>
    <p> Beauty Matters believes in sustainable development of the planet and where possible we try to use products
        and practices<br> that are more environment friendly and reduce wastage.
        Beauty Matters give priority to products which are social and <br>environment responsible before introducing
        these to our clientele, thereby ensuring optimal results for our deserving clients. <br>
        Extra care is taken to ensure that Beauty Matters services are gentle and suitable for sensitive skin and
        delivered <br> in the most professional way by qualified and experienced therapists.

        “Think of giving not only as a duty but as a privilege.”  <br>“We absolutely believe in the power of tithing. We
        believe that the more we give away, the more that comes back. That is the way life works.”

    </p>
</div>

<div class="exit">
    <p> <a href="/home" class="btn btn-info">Exit</a> </p>
</div>