<p>register works!</p>
<div class="wrapper">
    <div class="form-box login">
        <h2>Registration From</h2>
      
        <div class="input-box"> 
            <input type="text" id="fname" required>
            <label>FirstName</label> <p class="text-white  font-weight-bold" id="fnameerror"></p>
            </div>
            <div class="input-box"> 
                <input type="text" id="lname" required>
                <label>LastName</label> <p class="text-white  font-weight-bold" id="lnameerror"></p>
                </div>
           
        <div class="input-box">    
            <input type="text" id="phone" required>
            <label>Phone</label> <p class="text-white  font-weight-bold" id="phoneerror"></p>   
        </div>
        <div class="input-box">    
            <input type="text" id="mail" required>
            <label>Email</label> <p class="text-white  font-weight-bold" id="mailerror"></p>   
        </div>
        <div class="input-box">
            
            <input type="password" id="password" required>
            <label>Password</label><p id="passerror"></p>
           <!-- <div class="input-box1">
            <input type="checkbox" class="form-check-input" (click)="show()">Show password-->
        </div>
      <!--  <div class="input-box"> 
            
            <div class="date">
              <input type="date" id = "DOB">   
                <span id = "message" style="color:red"> </span> <br><br>    
           
         
                <button type="submit" (click) = "ageCalculator()"> Calculate age </button> <br> 
                <h4 style="color:white" id="result" align="center"></h4>   
            </div>
           
        </div><br><br>
           <div class="input-box">    
            <input type="text" id="time" required>
            <label>Time</label> <p class="text-white  font-weight-bold" id="timeerror"></p>   
        </div>
 
        <button type="submit"  class="btn btn-success"(click)="redirectToRegister()">Register</button><br><br>
        

        </div> -->
  
    </div>
