<p>aboutus works!</p>
<div class="about">
    <div class="inner-section">
        <h1>About us</h1>
        <p class="text">
            The story of starting your salon and the experience that you have gathered over the years will have to be elaborated in the page.
The experience of the different stylists in your hair salon must be present in the page for the ease of the customers.
The details about the contact of your salon such as address or contact number will have to be included in the page.
The opening and closing time of your salon should be clearly mentioned in the page so that customers can visit or contact you accordingly.
The reviews of some of the clients who are happy with your service and their ameliorated hair will have to be included in the page for attracting new customers.
        </p>
        <div class="skills">
            <p> <a href="/about">More About Us</a> </p>
        </div>
    </div>
</div>